body{
  padding: 10px 10px 100px 10px;
  border: 2px groove black;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;
}
hr{
  border-top: 1px solid black;
}
.container{
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  margin: 10px 180px 10px 180px;
  border-radius: 5px;
  display: flex;
}
.thumbnail{
  width: 200px;
  margin-top: 50px;
  border-radius: 5px;
}
.item-preview{
  width:300px;
  margin: 10px 10px 10px 10px;
  border: 1px ;
  border-style: ridge;
  border-color: grey;
  box-shadow: 5px 5px 5px grey; 
  border-radius: 5px;
  display: inline-block;
}
.add-button{
  color: white;
  background-color: red;
  border-style: groove;
  border: 1px;
  border-color: #0C5273;
  border-radius: 5px;
  padding : 4px 16px;
}
.textcontent{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  color: rgb(150, 119, 92);
  background-color: aquamarine;
  padding: 20px 2opx 20px 20px;
}
.add-button : hover{
  color: blue;
  cursor: pointer;
}
a:link {
  text-decoration:none
}
.op {
  font-size: 20px;
}
